<h1 align="center">Composant Contact</h1>

<img [src]="locale" width="200px"/>
<h3>Coordonnées de contact</h3>

<h4>Nom et Prénom : {{nom}} {{prenom}}</h4>
<h4>Email:  {{email}}</h4>
<h4>Téléphone :  {{telephone}}</h4>
<h4>Adresse : {{adresse}}</h4>

<button (click)="info()" class="btn btn-success">Click ici</button>

<table border="1" align="center" class="table">
  <tr><th>ID</th><th>Name</th><th>Username</th><th>Email</th><th>Phone</th></tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
  </tr>
</table>
